<% if flash[:notice]%>
<%= flash[:notice] %>
<% end %>
<% if @book.errors.any? %>
 <ul>
<%= @book.errors.count %> <span>errors prohibited this book from being saved:</span>
  <% @book.errors.full_messages.each do |message| %>
  <li>
    <%= message %>

  </li>
  <% end %>
 </ul>
 <% end %>
<div class="row">

<div class="col-xs-3">
<h2>User info</h2>
<%= render 'users/userinfo', user: current_user %>
 
 <%= render 'books/bookform', book: @book %>
</div>
   <div class="col-xs-9">
   <h3>Books</h3>


    <table class="table table-hover table-inverse">
    <thead>
    <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
     <tr> 
       <td>
        <%= link_to(book.user) do %>
     	<%= attachment_image_tag book.user, :profile_image, format: 'jpg', fallback: "no_image.jpg.png", size: "40x40" %>
      <% end %>
       </td>
       <td><%= link_to book.title, book, class: "book_#{book.id}" %></td>
       <td>
       <%= book.body %>
       </td>
       <!-- コメント -->
          
      <td>
    <%= "コメント数 #{book.book_comments.count}"%>
  </td>
  <!-- コメントここまで -->

  <td>
      <div id="favorites_buttons_<%= book.id %>">
             <%= render partial: 'favorites/favorite', locals: { book: book} %>
          </div>
</td>
    <% end %>
    </tr>
    </tbody>
    </table>
    </div>
  </div>

