<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span class="title" style="color:#ffffff;">Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
  　<li><%= link_to  "  Home", user_path(current_user), class: "home glyphicon glyphicon-home" %></li>
    <li><%= link_to  "  Users", users_path, class: "users glyphicon glyphicon-user" %></li>
   <li><%= link_to  "  Books", books_path, class: "books glyphicon glyphicon-book" %></li>
  　<li><%= link_to " logout", destroy_user_session_path, method: :delete, :class => "glyphicon glyphicon-log-out" %></li>
     <% else %>
   <li><%= link_to  "  Home", root_path, class: "home glyphicon glyphicon-home" %></li>
   <li><%= link_to  "  About", home_about_path, class: "about glyphicon glyphicon-link" %></li>
   <li><%= link_to "  Sign Up", new_user_registration_path, class: "sign_up glyphicon glyphicon-edit" %></li>
   <li><%= link_to "  login", new_user_session_path, class: "sign_in glyphicon glyphicon-log-in" %></li>
    <% end %>
    </ul>
  </nav>
</div>
</header>
<div class="container">
      <p id="notice"><%= notice %></p> 
      <p class="alert"><%= alert %></p>
    </div>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <div class='container'>
      <div class='row'>
        <div class='col-xs-3 col-xs-offset-9'>
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </body>
</html>
